html {
  font-size: 12px;
}

@screen md {
  html {
    font-size: 14px;
  }
}

@screen lg {
  html {
    font-size: 16px;
  }
}

@screen xl {
  html {
    font-size: 18px;
  }
}

@screen 2xl {
  html {
    font-size: 20px;
  }
}

body,
#__next {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@layer base {
  html {
    @apply text-white;
  }
}

@layer components {
  .gradient-text-main {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-emerald-500 via-indigo-200 to-emerald-500;
  }

  .bg-main {
    @apply bg-black;
  }

  .bg-secondary {
    @apply bg-[#111111];
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
